<extend name="Public/templates/admin/base.html" />
<block name="title">新增学员作品</block>
<block name="css_js">
	<link rel="stylesheet" href="__PUBLIC__/uploadify/uploadify.css">
	<script src="__PUBLIC__/uploadify/jquery.uploadify.min.js"></script>
	<style>
		textarea{resize: none;}
	</style>
</block>
<block name="content">
<div class="panel panel-info">
	<div class="panel-heading">
		<div class="panel-title"><h4>新增学员作品(请先添加该学员信息)</h4></div>
	</div>
	<div class="panel-body">
		<form action="" enctype="multipart/form-data" method="post">
			<div class="form-group">
				<label>项目名称</label>
				<input type="text" name="name" tabindex="1" class="form-control">
			</div>
			<div class="form-group">
				<label>图片上传</label>
				<div id="imgs"></div>
				<input type="file" name="img" id="file_upload" multiple="true" tabindex="4">
				<input type="hidden" name="imgs" id="img">
			</div>
			<div class="form-group">
				<label>所属领域</label>
				<select name="type" class="form-control" tabindex="2">
					<option value="0">php基础项目</option>
					<option value="1">php高级项目</option>
					<option value="2">WEB前端项目</option>
					<option value="3">微信项目</option>
				</select>
			</div>
			<div class="form-group">
				<label>学员</label>
				<select name="student_id" class="form-control">
					<volist name="students" id="student">
						<option value="{$student[id]}">{$student[name]}</option>
					</volist>
				</select>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary">
				<input type="reset" value="重置" class="btn btn-danger">
			</div>
		</form>	
	</div>
</div>
<script>
	// uploadify
	img = '';
	str = '';
	$('#file_upload').uploadify({
		'swf': '__PUBLIC__/uploadify/uploadify.swf',
		'uploader': '{:U("Allow/upload")}',
		'buttonText': '缩略图上传',
		onUploadSuccess: function(file, data, response){
			img += "<img width='300px' src='/yzm/Uploads/" + data + "'>";
			$('#imgs').html(img);
			str += data.substr(2) + ',';
			$('#img').val(str);
		}
	});

</script>
</block>

