<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
	<title><block name="title">云知梦</block></title>
	<link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico">
	<link rel="stylesheet" href="__PUBLIC__/css/home.css">
	<link rel="stylesheet" href="__PUBLIC__/bs/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/jquery-ui/jquery-ui.structure.min.css">
	<link rel="stylesheet" href="__PUBLIC__/jquery-ui/jquery-ui.theme.min.css">
	<script src="__PUBLIC__/bs/js/jquery.min.js"></script>
	<script src="__PUBLIC__/jquery-ui/jquery-ui.min.js"></script>
	<script src="__PUBLIC__/bs/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/bs/js/holder.min.js"></script>
	<block name="css_js"></block>
	<style>
	</style>
</title>
</head>
<body>
<!-- 顶部蓝条 -->
<div class="heads">
	<div class="row">
		<div class="container">
			<div class="col-md-6">
				<p class="pull-left">云知梦，只为有梦想的人</p>
			</div>
			<div class="col-md-6">
				<ul class="head-right">
					<li class="weixintitle">
						<span class="glyphicon glyphicon-qrcode" id="qrcode">
							<img class="weixin" width="100px" src="__PUBLIC__/images/qrcode_wx.jpg" alt="">
						</span>
					</li>
					<li>
						<span class="glyphicon glyphicon-phone-alt"></span>
						<span class="phone">400-105-8680</span>
					</li>
					<!-- <li style="clear:both;"></li> -->
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- 蓝条下的导航条 -->
<nav style="height:103px">
	<div class="row" style="padding:20px 0px">
		<div class="container">
			<div class="col-md-2" style="margin-right:30px">
				<a href="{:U('Index/index')}">
					<img src="__PUBLIC__/images/576e6fd4c090d.png" alt="云知梦" title="云知梦">
				</a>
			</div>

			<div class="col-md-9">
				<nav class="navbar">
					<ul class="nav navbar-nav navs-conts column">
						<li><a href="{:U('Course/index')}" alt="线下实训">线下实训</a></li>
						<li><a href="{:U('Internet/index')}" alt="线上教育">线上教育</a></li>
						<li><a href="{:U('Team/index')}" alt="师资团队">师资团队</a></li>
						<li><a href="{:U('Employment/index')}" alt="就业明星">就业明星</a></li>
						<li><a href="{:U('Production/index')}" alt="作品展示">作品展示</a></li>
						<li><a href="{:U('Download/index')}" alt="视频下载">视频下载</a></li>
						<li><a href="{:U('Qq/index')}" alt="技术交流">技术交流</a></li>
					</ul>
				</nav>
			</div>
		</div>	
	</div>
</nav>

<!-- 自定义幻灯片 -->
<block name="carousel">
<div class="carouselWindow">
	<div class="image_list">
		<volist name="carousels" id="carousel">
			<a href="{$carousel[url]}">
				<img src="{:C('UPLOADS')}{$carousel[img]}" alt="" width="1440px">
			</a>
		</volist>
		<php>
			$lastId = count($carousels) + 1;
		</php>
		<a href="carousel{$lastId}">
			<img src="{:C('UPLOADS')}{$carousels[0][img]}" alt="" width="1440px">
		</a>
		<div style="clear:both"></div>
	</div>
	<div class="indicator">
		<volist name="carousels" id="carousel">
			<button data-target="#" rel="{$i}">
				<span class="glyphicon glyphicon-record"></span>
			</button>
		</volist>
	</div>
</div>
</block>

<!-- 内容 -->
<block name="content"></block>

<!-- 回到顶部 -->
<div class="topBar">
	<span class="glyphicon glyphicon-chevron-up"></span>
</div>

<!-- 脚脚 -->
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img src="__PUBLIC__/images/footer_logo.png" alt="脚脚logo" class="footLogo">
			</div>
			<div class="col-md-6">
				<div class="footer-menu">
					<ul class="site-footer-links">
						<li><a href="{:U('about')}" target="_blank">关于我们</a></li>
						<li><a href="{:U('contact')}" target="_blank">联系我们</a></li>
						<li><a href="{:U('question')}" target="_blank">常见问题</a></li>
						<li><a href="{:U('download')}" target="_blank">资源下载</a></li>
						<li><a href="{:U('qq')}" target="_blank">技术交流</a></li>
					</ul>
				</div>
				<div class="copyright">
					©2013-2016 云知梦科技有限公司版权所有  晋ICP备14001940号-4
				</div>
			</div>
			<div class="col-md-3">
				<img style="margin-right:15px;" src="__PUBLIC__/images/qrcode_wx.jpg" title="云知梦微信二维码" width="100px">	
				<img src="__PUBLIC__/images/qrcode_wb.png" title="云知梦微博二维码" width="100px">	
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/js/home.js"></script>
<block name="script"></block>
</body>
</html>
