<extend name="Public/templates/home/base.html" />
<block name="title">云知梦- 太原PHP培训|山西PHP培训|PHP培训|PHP视频|PHP学习|太原PHP开发|山西PHP开发</block>
<block name="css_js">
	<link rel="stylesheet" href="__PUBLIC__/countDown/css/countdown.css">
	<script src="__PUBLIC__/countDown/js/countdown.js"></script>
	<script src="__PUBLIC__/countDown/js/flip_counter.js"></script>
</block>
<block name="content">
	<!-- 开班信息 -->
	<div class="container courseRows">
		<volist name="coursePlans" id="coursePlan">
			<div class="row">
				<div class="col-md-2 courseName">{$coursePlan[name]}</div>
				<div class="col-md-2 courseDate">{$coursePlan[course_date]}</div>
				<div class="col-md-2 courseStatus">
					<if condition="$coursePlan[status] eq 0">
						火热报名<span class='glyphicon glyphicon-fire fire'></span>
					<else/>
						盛大开班<span class="glyphicon glyphicon-flag flag"></span>
					</if>
				</div>
				<div class="col-md-4 courseImg">
					<if condition="$coursePlan[status] eq 0">
						<div id="hero_outer">
							<div class="hero">
							<div id="flip-counter_{$i}" class="flip-counter" data-date="{$coursePlan[course_date]}"></div>
							</div>
						</div>
					<else/>
						<img src="__PUBLIC__/images/ttt.gif">
					</if>
				</div>
				<div class="col-md-2 courseUrl">
					<if condition="$coursePlan[status] eq 0">
						<a href="">在线报名</a>
					<else/>
						<a href="{:U('OurHistory/index')}">了解更多</a>
					</if>
				</div>
			</div>
		</volist>
		<div class="text-center">
			<a href="{:U('CoursePlan/index')}" class="btn btn-lg btn-warning">更多开班信息>></a>
		</div>
	</div>

	<!-- 新闻资讯 -->
	<div class="container">
		<img width="100%" src="__PUBLIC__/images/news.jpg" alt="新闻栏目基线" class="newStart">
		<div class="row news">
			<volist name="news" id="one">
				<div class="col-md-6">
					<div class="media">
						<div class="media-left media-middle">
							<a href="{:U('OurHistory')}/id/{$one[id]}"><img src="{:C('UPLOADS')}{$one[img]}" alt="" width="200px" height="130px"></a>	
						</div>
						<div class="media-body"><h4><a href="{:U('OurHistory')}/id/{$one[id]}">{$one[title]}</a></h4><p><a href="{:U('OurHistory')}/id/{$one[id]}">{$one[brief_info]}...[详细信息]</a></p><p style="text-align:right;margin-right:0px;">{$one[news_date]|substr=0,10}</p></div>
					</div>
				</div>
			</volist>
		</div>
		<div class="text-center">
			<a href="{:U('OurHistory/index')}" class="btn btn-lg btn-warning">我们的历史>></a>
		</div>
	</div>

	<!-- 线下实训 -->
	<div class="container">
		<img src="__PUBLIC__/images/course.jpg" width="100%" alt="线下实训基线">
		<div class="row course">
			<volist name="courses" id="course" mod="2">
				<eq name="mod" value="0">
					<div class="col-md-5">
						<a href="{:U('course')}"><img width="100%" src="{:C('UPLOADS')}{$course[img]}" alt="" class="img-thumbnail img-responsive animate"></a>
					</div>
					<div class="col-md-7">
						<h2 class="page-header">{$course[name]}</h2>
						<p class="lead">{$course[info]}</p>
					</div>
				</eq>
				<eq name="mod" value="1">
					<div class="col-md-7">
						<h2 class="page-header">{$course[name]}</h2>
						<p class="lead">{$course[info]}</p>
					</div>
					<div class="col-md-5">
						<a href="{:U('course')}"><img width="100%" src="{:C('UPLOADS')}{$course[img]}" alt="" class="img-thumbnail img-responsive animate"></a>
					</div>
				</eq>
			</volist>
		</div>
		<div class="text-center">
			<a href="{:U('Course/index')}" class="btn btn-lg btn-warning">更多线下课程>></a>
		</div>
	</div>

	<!-- 线上教育 -->
	<div class="container">
		<img src="__PUBLIC__/images/internet.jpg" width="100%" alt="线上教育基线">
		<div class="row internet">
			<volist name="internets" id="internet" mod="2">
				<eq name="mod" value="0">
					<div class="col-md-5">
						<a href="{:U('internet')}"><img width="100%" src="{:C('UPLOADS')}{$internet[img]}" alt="" class="img-thumbnail img-responsive animate"></a>
					</div>
					<div class="col-md-7">
						<h2 class="page-header">{$internet[name]}</h2>
						<p class="lead">{$internet[info]}</p>
					</div>
				</eq>
				<eq name="mod" value="1">
					<div class="col-md-7">
						<h2 class="page-header">{$internet[name]}</h2>
						<p class="lead">{$internet[info]}</p>
					</div>
					<div class="col-md-5">
						<a href="{:U('internet')}"><img width="100%" src="{:C('UPLOADS')}{$internet[img]}" alt="" class="img-thumbnail img-responsive animate"></a>
					</div>
				</eq>
			</volist>
		</div>
		<div class="text-center">
			<a href="{:U('Internet/index')}" class="btn btn-lg btn-warning">更多线上课程>></a>
		</div>
	</div>

	<!-- 师资团队 -->
	<div class="container">
		<img src="__PUBLIC__/images/team.jpg" alt="师资团队基线" width="100%">
		<div class="row team">
			<volist name="teams" id="team">
				<div class="col-md-4">
					<div class="thumbnail text-center teacher">
						<img src="{:C('UPLOADS')}{$team[portrait]}" class="img-responsive img-circle img-thumbnail" alt="">
						<div class="caption" style="height:200px;">
							<h3>{$team[name]}</h3><p>{$team[info]}</p>
						</div>
					</div>	
				</div>
			</volist>
		</div>
		<div class="text-center">
			<a href="{:U('Team/index')}" class="btn btn-lg btn-warning">更多老师资源>></a>
		</div>
	</div>

	<!-- 就业明星 -->
	<div class="container">
		<img src="__PUBLIC__/images/student.jpg" alt="就业明星基线" width="100%" class="img-responsive">
		<div class="row student">
			<volist name="students" id="student">
				<div class="col-md-3 stu">
					<div class="thumbnail text-center">
						<img src="{:C('UPLOADS')}{$student[img]}" class="img-responsive img-thumbnail">
						<div class="caption">
							<h3>{$student[course_name]} {$student[name]}</h3>
							<p>{$student[company]}</p>
							<p>{$student[position]}</p>
						</div>
					</div>
				</div>
			</volist>
		</div>
		<div class="text-center">
			<a href="{:U('Employment/index')}" class="btn btn-lg btn-warning">更多就业信息>></a>
		</div>
	</div>

	<!-- 教学环境 -->
	<div class="container">
		<img src="__PUBLIC__/images/env.jpg" alt="教学环境基线" class="img-responsive" width="100%">
		<div class="row classroom">
			<volist name="classrooms" id="classroom">
				<div class="col-md-4 clsrm">
					<img class="img-thumbnail" width="100%" src="{:C('UPLOADS')}{$classroom[img]}" alt="">
					<p>{$classroom[name]}</p>
				</div>
			</volist>
		</div>
		<div class="text-center">
			<a href="{:U('Team/index')}" class="btn btn-lg btn-warning">去实地考察一下吧</a>
		</div>
	</div>

	<!-- 下面那个曲线图 -->
	<div class="container progressing">
		<img src="__PUBLIC__/images/37.png" width="100%">
		<div class="one">
			<a href="javascript:" class="communication_online">
				<p>在线交流</p>
			</a>
		</div>
		<div class="two">
			<a href="javascript:" class="communicate_with_us">
				<p>美女聊天</p>
			</a>
		</div>
		<div class="three">
			<a href="javascript:" class="communicate_with_us">
				<p>帅锅聊天</p>
			</a>
		</div>
		<div class="four">
			<a href="{:U('Download')}" class="communicate_with_us">
				<p>开始学习</p>
			</a>
		</div>
	</div>

	<!-- 友情链接 -->
	<div class="linka">
		<div class="container">
			<div class="title links">友情链接:</div>
			<ul class="linkc">
				<li>
					<a href="http://v.tudou.com/lqqhwei" target="_blank">土豆优酷</a>
				</li>
				<li>
					<a href="http://tieba.baidu.com/f?kw=%E4%BA%91%E7%9F%A5%E6%A2%A6" target="_blank">百度贴吧</a>
				</li>
				<li>
					<a href="http://www.maiziedu.com/" target="_blank">麦子学院</a>
				</li>
				<li>
					<a href="http://www.tanzhouedu.com" target="_blank">潭州学院</a>
				</li>
				<li>
					<a href="http://lampym.lofter.com/" target="_blank">网易轻博客</a>
				</li>
				<li>
					<a href="http://edu.51cto.com/lecturer/index/user_id-367379.html" target="_blank">51CTO</a>
				</li>
				<li>
					<a href="http://study.163.com/u/lampym" target="_blank">网易云课堂</a>
				</li>
				<li>
					<a href="http://www.ucai.cn" target="_blank">优才学院</a>
				</li>
				<li>
					<a href="http://ke.qq.com" target="_blank">腾讯课堂</a>
				</li>
				<li>
					<a href="http://www.imooc.com" target="_blank">慕课网</a>
				</li>
				<li>
					<a href="http://www.weibo.com/lampym" target="_blank">新浪微博</a>
				</li>
				<li>
					<a href="http://www.jikexueyuan.com" target="_blank">极客学院</a>
				</li>
				<li>
					<a href="http://sh.jiaoyubao.cn" target="_blank">教育宝</a>
				</li>
			</ul>
		</div>
	</div>

</block>

<block name="script">
<script>
$(function() {
	// 教室图片特效
	$('.clsrm>img').hover(
		function(){
			$(this).next().stop().slideDown(1000);
		},
		function(){
			$(this).next().stop().slideUp(1000);
		}
	)
	// 多个倒计时
	$('.flip-counter').each(function(i){
		myCountDown(this.id);
	})
});

</script>
</block>

