<extend name="Public/templates/admin/base.html" />
<block name="title">下载资源列表</block>
<block name="css_js">
<style>
	img{
		width: 100px;
	}
</style>
</block>
<block name="content">
	<div class="panel panel-info">
		<div class="panel-heading"><h4>下载资源列表</h4></div>
		<div class="panel-body">
			<table class="table table-hover table-striped table-bordered">
				<tr>
					<th>编号</th>
					<th>资源名称</th>
					<th>资源简介</th>
					<th>发布年份</th>
					<th>Logo</th>
					<th>资源大小</th>
					<th>链接地址</th>
					<th>添加时间</th>
					<th>修改时间</th>
					<th>修改</a></th>
					<th>删除</a></th>
				</tr>
				<volist name="rows" id="row">
					<tr>
						<td>{$i}</td>
						<td>{$row[name]}</td>
						<td>{$row[brief]}</td>
						<td>{$row[date]}</td>
						<td><img src="{:C('UPLOADS')}{$row[img]}"></td>
						<td>{$row[size]}</td>
						<td>{$row[url]}</td>
						<td>{$row[create_time]|date="Y-m-d",###}</td>
						<td>{$row[update_time]|date="Y-m-d",###}</td>
						<td><a href="{:U('edit')}/id/{$row[id]}">修改</a></td>
						<td><a href="{:U('delete')}/id/{$row[id]}">删除</a></td>
					</tr>
				</volist>
			</table>
			<div class="text-center">{$pagination}</div>
		</div>
	</div>
</block>

