<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/bs/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/jquery-ui/jquery-ui.theme.min.css">
	<link rel="stylesheet" href="__PUBLIC__/jquery-ui/jquery.datetimepicker.css">
	<script src="__PUBLIC__/bs/js/jquery.min.js"></script>
	<script src="__PUBLIC__/jquery-ui/jquery-ui.min.js"></script>
	<script src="__PUBLIC__/jquery-ui/jquery.datetimepicker.full.js"></script>
	<script src="__PUBLIC__/bs/js/bootstrap.min.js"></script>
	<style>
		img{
			width: 430px;
			height: 430px;
			outline: 2px solid #e88;
			background: #ccc;
			border-radius: 215px;
		}
	</style>
</head>
<body>
<div class="myImg">
	<img src="__PUBLIC__/images/qrcode_wx.jpg" width="430px" height="430px">
</div>
<div class="panel panel-info">
	<div class="panel-heading">
		<div class="panel-title"><h4>新增新闻资讯</h4></div>
	</div>
	<div class="panel-body">
		<form action="" method="post">
			<div class="form-group">
				<label>新闻标题</label>
				<input type="text" name="title" tabindex="1" class="form-control">
			</div>
			<div class="form-group">
				<label>图片上传</label>
				<div id="imgs"></div>
				<input type="file" name="img" id="file_upload" class="form-control" multiple="true" tabindex="3">
			</div>
			<div class="form-group">
				<label>新闻发布日期</label>
				<input type="text" name="news_date" tabindex="4" id="news_date" placeholder="请选择日期" class="datepicker_input">
			</div>
			<div class="newsInfo">
				<label>新闻详情</label>
				<script name="info" id="infoEditor" type="text/plain" ></script>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary">
				<input type="reset" value="重置" class="btn btn-danger">
			</div>
		</form>	
	</div>
</div>
	
</body>
</html>
<script>
// datepicker开启
$('#news_date').datetimepicker({
	lang: "zh-cn",
	format: "Y-m-d H:i:s",
});
	
</script>

