<extend name="Public/templates/admin/base.html" />
<block name="title">开班历程</block>
<block name="style"></block>
<block name="content">
	<div class="panel panel-info">
		<div class="panel-heading"><h4>开班历程</h4></div>
		<div class="panel-body">
			<table class="table table-hover table-striped table-bordered">
				<tr>
					<th>编号</th>
					<th>班次</th>
					<th>开班日期</th>
					<th>开班状态</th>
					<th>注册时间</th>
					<th>修改时间</th>
					<th>修改</a></th>
					<th>删除</a></th>
				</tr>
				<volist name="rows" id="row">
					<tr>
						<td>{$row[id]}</td>
						<td>{$row[name]}</td>
						<td>{$row[course_date]}</td>
						<td>{$row[status]?"盛大开班":"火热报名"}</td>
						<td>{$row[create_time]|date="Y-m-d",###}</td>
						<td>{$row[update_time]|date="Y-m-d",###}</td>
						<td><a href="{:U('edit')}/id/{$row[id]}">修改</a></td>
						<td><a href="{:U('delete')}/id/{$row[id]}">删除</a></td>
					</tr>
				</volist>
			</table>
			<div class="text-center">{$pagination}</div>
		</div>
	</div>
</block>

